###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

._.git
._.gitignore
._docs
._readme.md
docs/database/._dataDictionnary.pdf
docs/database/._dataDictionnary.xlsx
docs/database/._MCD.lo1
docs/database/._MCD.loo
docs/database/._MCD.png
docs/database/._MLD.png
docs/database/._reamde.md
docs/database/._UML.png
docs/._database
